extends layout

block content
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css")
      style.  
        .jumbotron {
          padding-top: 7rem;
          background-color: #e2edff;
        }
      
    body
         
        .row.mt-4.justify-content-center.align-items-center.text-center 
          .col-md-12 
           section.jumbotron 
            img(src="images/mantap.jpg", alt="foto", class="img-fluid mx-auto", width="200") 
            h1(class="ml-4") Usman 
            h4 About Me
            br
            p I am third year student pursuing a degree in Information Systems at Multi Data University in Palembang. I have a strong affinity for challenges and thrive on taking them head-on.
            svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
              path(fill="#fff", fill-opacity="0.88", d="M0,64L60,101.3C120,139,240,213,360,213.3C480,213,600,139,720,90.7C840,43,960,21,1080,37.3C1200,53,1320,107,1380,133.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z")

            
        .row.mt-4.justify-content-center.align-items-start.text-center
          hr(style="border-top: 2px solid #000; margin-top: 0.5rem;")
          .col-md-4
          
            section
              h2 Contact
              a(href="https://www.linkedin.com/in/usman-yap-992b5520a/", target="_blank", class="btn btn-dark") LinkedIn 
              p.mt-4
              a(href="https://github.com/UsmanYap", target="_blank", class="btn btn-dark") Github
              p.mt-4
              a(href="mailto:usmanyap0301@gmail.com", target="_blank", class="btn btn-dark") Email
          .col-md-4
            section
              h2 Language
              li English 
              li Indonesia
          .col-md-4
            section
              h2 Skills
              li Web Development
              li UI/UX

        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
         path(fill="#e2edff", fill-opacity="1", d="M0,96L40,122.7C80,149,160,203,240,202.7C320,203,400,149,480,154.7C560,160,640,224,720,250.7C800,277,880,267,960,245.3C1040,224,1120,192,1200,160C1280,128,1360,96,1400,80L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")

        .row.mt-4.justify-content-center.align-items-start.text-center
          h1.text-muted Education
          hr(style="border-top: 2px solid #000; margin-top: 0.5rem;")
          .col-md-4
            section
              h2 Name School 
              li SMP Xaverius Maria Palembang 
              p 2015 - 2017
              p Junior High School, Acceleration
              li SMA Xaverius 1 Palembang 
              p 2017 - 2020
              p Senior High School, Science

          .col-md-4
            section
              h2 Name University
              li Universitas Multi Data Palembang
              p 2021 - Present 
              p Information System 
              
        .row.mt-4.justify-content-center.align-items-start.text-center
          h1.text-muted Experiences
          hr(style="border-top: 2px solid #000; margin-top: 0.5rem;")

        .row.mt-4.justify-content-center.align-items-start.text-center
          
            section
              p August 2022 - January 2023
              h2 Student Exchange at Institut Teknologi Bandung
              p Participant of Pertukaran Mahasiswa Merdeka Batch 2 
          
            

        .row.mt-4.justify-content-center.align-items-start.text-center
  
            section
              p April 2023 - Present 
              h2 Unit Kegiatan Mahasiswa Programming (UMDP)
              p Head of Human Resource Development 
        


  svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320")
    path(fill="#0d6efd", fill-opacity="1", d="M0,192L40,186.7C80,181,160,171,240,154.7C320,139,400,117,480,138.7C560,160,640,224,720,208C800,192,880,96,960,64C1040,32,1120,64,1200,74.7C1280,85,1360,75,1400,69.3L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z")

  .footer.bg-primary.text-white.text-center.pb-5
          p
            | Created with
            i.bi.bi-suit-heart-fill.text-danger
            |  by
            a(href="https://www.instagram.com/usmanyap", class="text-white fw-bold", target="_blank") Usman 

   

 
        
            
            
         

     

    
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")

